.button {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 50px;
    padding: 20px;
    background: linear-gradient(-10deg, $color-primary, $color-secondary);
    color: $color-text-footer;
}