* {
    box-sizing: border-box;
}

body {
    background-color: $color-background-body;
    color: $color-text-body;
}

img {
    object-fit: cover;
}

.like-icon {
    /*color: $like-button-color;
    border: 2px solid $like-button-border-color;
    :hover {
        color: $active-like-button-color;
    }*/
}
