.menu-main-tag {
    background-color: $color-background-main-primary;
}

.hero {
    height: 240px;
    > img {
        width: 100%;
        height: 240px;
    }
}

.menu {
    position: relative;
    top: -40px;
    &__title {
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 20px;
        border-radius: 40px 40px 0 0;
        padding: 20px 20px 0 20px;
        background-color: $color-background-main-primary;
        line-height: 40px;
        > h1 {
            width: 100%;
        }
    }
    &__content {
        @include tablets-and-wider {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
        }
        > section {
            margin-bottom: 40px;
            padding: 0 20px;
            @include tablets-and-wider {
                width: 33%;
            }
            > h2 {
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 400;
                margin: 0;
                margin-bottom: 5px;
            }
            > hr {
                margin: 0;
                margin-bottom: 10px;
                border: 1px solid $color-tertiary;
                width: 10%;
            }
        }
    }
    &__button-container {
    }
}

.menu-item {
    display: flex;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
    background-color: $color-background-main-secondary;
    box-shadow: 1px 1px 8px $shadow-color;
    overflow: hidden;
    &:hover {
        cursor: pointer;
        > .menu-item__checked {
            width: 60px;
            transform: scaleX(1);
            i {
                transform: translateX(0) rotate(0deg);
            }
        }
    }
    &__description {
        flex: 1;
        min-width: 20px;
        > div {
            display: flex;
        }
        &__name {
            font-family: 'Roboto', sans-serif;
            margin: 0 0 14px 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        &__additional-information {
            margin: 0;
            flex: 1;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        &__price {
            margin: 0;
            width: 30px;
            text-align: right;
            font-weight: bold;
        }
    }
    &__checked {
        display:flex;
        align-items:center;
        justify-content:center;
        width: 0;
        background-color: $color-tertiary;
        color: $color-background-main-primary;
        margin: -20px -20px -20px 20px;
        border-radius: 0 20px 20px 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 1700ms ease-in-out;
        i {
            display: inline-block;
            font-size: nth($font-size, 2);
            transform: translateX(60px) rotate(-90deg);
            transition: transform 1700ms ease-in-out;
        }
    }
}

.order-button {
    padding-left: 50px;
    padding-right: 50px;
}
